# Exclude source files
src

# Exclude node_modules
node_modules

# Exclude configuration files
package.json
package-lock.json
tsconfig.json
.npmignore
.gitignore

# Exclude test files
tests

# Exclude logs
logs
*.log

# Exclude IDE specific files
.vscode/
.idea/
.DS_Store